# Python dependencies
venv/
__pycache__/
*.pyc
*.log

# Frontend dependencies
/frontend/node_modules/
/frontend/dist/

# Configuration and Secrets
.env
backend/.env
backend/venv/
backend/.jaseci_logs
__jac_gen__/
*.jabc
